<h1>名前一覧画面</h1>

<table class="table table-striped">
	<tr>
		<th>ID</th>
		<th>名前</th>
		<th></th>
		<th></th>
	</tr>
	<% @genres.each do |genre| %>
	<tr>
		<th><%= genre.id %></th>
		<th><%= genre.genre_name %></th>
		<th><%= link_to "編集" , edit_genre_path(genre) %></th>
		<th><%= link_to "削除" , genre_path(genre), method: :delete %></th>
	</tr>
<% end %>
</table>

<%= link_to "新規登録", new_genre_path %>