
<div id="users-show">
<h1>User詳細画面</h1>
	<%= link_to "編集", edit_user_path(@user), :class => "btn btn-primary" %>
	<h4>背景画像</h4>
	<%= attachment_image_tag @user, :back_image, :fill, 60,100 %>
	<h4>画像</h4>
	<%= attachment_image_tag @user, :profile_image, :fill, 60,60,:class => 'img-circle', fallback: "no_image.jpg" %>
	<h4>名前</h4>
	<%= @user.name %>
	<h4>自己紹介文</h4>
	<%= @user.introduction %>
	<h4>経歴</h4>
	<%= @user.career %>
	<h4>これからしていきたいこと</h4>
	<%= @user.wants %>
	<h4>スキル</h4>
	<%= @user.skill %>
	<h4>資格</h4>
	<%= @user.license %>
	<h4>趣味</h4>
	<%= @user.hobby %>
</div>