<div id="books">
	<h1>みんなの質問</h1>
	<%= form_tag search_books_path, method: :get do %>
	<%= collection_select( :person, :person_id, Person.all, :id, :person_name, { :prompt => "選択してください" } ) %>
	<%= submit_tag "絞り込み" %>
	<% end %>
	


	<% @books.each do |book| %>
		<div class="box">
			<div class="book-contents">
				質問内容：<%= link_to book.body, book_path(book) %>
			</div>
			<div class="book-person-name">
				質問者：<%= link_to book.person.person_name, people_path %>
			</div>
			<div class="book-genre-name">
				ジャンル：<%= link_to book.genre.genre_name, genres_path %>
			</div>
			<div class="book-created_at">
				作成日：<%= book.created_at.strftime('%Y/%m/%d') %>
			</div>
			<div class="books-favorite-link">
				<%= render partial: 'books/books', locals: {book: book} %>
			</div>
		</div>
	<% end %>
</div>