<div id="books">
<h1>みんなの質問</h1>
	<div class="q-index clearfix">
		<div class="q-index-right">
			<%= form_tag search_books_path, method: :get do %>
			<%= collection_select( :person, :person_id, Person.all, :id, :person_name, { :prompt => "人を選択" } ) %>
			<%= collection_select( :genre, :genre_id, Genre.all, :id, :genre_name, { :prompt => "ジャンルを選択" } ) %>
			<%= submit_tag "絞り込み" %>
			<% end %>
		</div>

		<div class="q-index-left">
			<%= form_tag books_path, method: :get do %>
				<%= select_tag "books_name", options_for_select([["新着順", "1"],["お気に入り順", "2"]]), {:prompt => "選択してください"} %>
				<%= submit_tag "切り替え" %>
			<% end %>
		</div>
	</div>


	<% @books.each do |book| %>
		<div class="box clearfix">
    <%= link_to book_path(book) do  %>
			<div class="contents">
				<%= book.body %>
			</div>

            <div class="left-contents">
                <div class="person-name">
                    回答者：<%= book.person.person_name %>
                </div>
                <div class="genre-name">
                    ジャンル：<%= book.genre.genre_name %>
                </div>
                <div class="created_at">
                    作成日：<%= book.created_at.strftime('%Y/%m/%d') %>
                </div>
            </div>

            <% if user_signed_in? %>
				<div class="right-contents">
					<div class="books-favorite-link">
						<%= render partial: 'books/books', locals: {book: book} %>
					</div>
				</div>
			<% end %>
    <% end %>
	</div>
	<% end %>
	<%= paginate @books, class: "paginate" %>
</div>

