<div id="books">
	  <% if @book.errors.any? %>
	      <div id="error_explanation">
	        <h2><%= @book.errors.count %> error prohibited this user from being saved: </h2>
	        <ul>
	        <% @book.errors.full_messages.each do |message| %>
	          <li><%= message %></li>
	       <% end %>
	        </ul>
	      </div>
	  <% end %>

	<h1>新規投稿画面</h1>
	<%= form_for(@book) do |f| %>
		<h4>質問内容</h4>
		<%= f.text_area :body, rows: '5', class: "form-control" ,placeholder: "ここに質問を記入してください" %>
		<h4>誰に答えてほしいか</h4>
		<%= f.collection_select(:person_id, Person.all, :id, :person_name, { :prompt => "選択してください" , :multiple => true } ) %>
		<h4>ジャンル</h4>
		<%= f.collection_select(:genre_id, Genre.all, :id, :genre_name, { :prompt => "選択してください" , :multiple => true } ) %><br>
		<%= f.submit "質問を送る", :class => "btn btn-primary" %>
	<% end %>
</div>




