<div id="books">
<h1>質問内容</h1>
	<div class="box clearfix">
		<div class="contents">
			<%= @book.body %>
		</div>

		<div class="left-contents">
			<div class="person-name">
				回答者：<%= @book.person.person_name %>
			</div>
			<div class="genre-name">
				ジャンル：<%= @book.genre.genre_name %>
			</div>
			<div class="created_at">
				作成日：<%= @book.created_at.strftime('%Y/%m/%d') %>
			</div>
		</div>

		<% if user_signed_in? %>
			<div class="right-contents">
				<div class="books-favorite-link">
					<%= render partial: 'books/books', locals: {book: @book} %>
				</div>
			</div>
		<% end %>
	</div>

	<h2>↓↓質問に対する回答はこちら↓↓</h2>
	<div id="comment_area">
		<% @book.book_comments.each do |book_comment| %>
		<div class="box1 clearfix">
			<%= render 'book_comments/book_comments', book_comment: @book.book_comment %>
		</div>
		<% end %>
	</div>	
	<br>
	<div id="comment_form">
		<%= render 'book_comments/comment_form', comment: @comment, book: @book %>
	</div>
</div>