<!DOCTYPE html>
<html>
  <head>
    <title>OpenQuestion</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to "Home", users_path %></li>
          <li><%= link_to "books", books_path %></li>
          <li><%= link_to "post", new_book_path %></li>
          <li><%= link_to "logout", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Home", "/" %></li>
          <li><%= link_to "about", "#" %></li>
        <% end %>
      </ul>
    </header>

    <main>
        <% if flash[:notice] %>
          <div class="flash">
            <%= flash[:notice] %>
          </div>
        <% end %>
        <%= yield %>
    </main>

    <footer>
      <p></p>
    </footer>
  </body>
</html>
