<!DOCTYPE html>
<html>
  <head>
    <title>OpenQuestion</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" type="text/css" />
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" area-expanded="false" area-controls="navbar">
                    <span class="icon-var"></span>
                    <span class="icon-var"></span>
                    <span class="icon-var"></span>
          </button>
        </div>
        <nav class="nav navbar-nav navbar-left">
          <span>OpenQuestion</span>
        </nav>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><%= link_to "GS一覧", users_path %></li>
              <li><%= link_to "質問一覧", books_path %></li>
              <li><%= link_to "質問する", new_book_path %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "ホーム", "/" %></li>
              <li><%= link_to "ガイドライン", home_about_path %></li>
              <li><%= link_to "GS一覧", users_path %></li>
              <li><%= link_to "質問一覧", books_path %></li>
              <li><%= link_to "質問する", new_book_path %></li>
              <li><%= link_to "ログインする", new_user_session_path %></li>
              <li><%= link_to "新規登録する", new_user_registration_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>


    <main>
      <div class="conteiner clearfix">
        <div class="row">
         <div class="col-xs-offset-2 col-xs-8 col-xs-offset-2">
          <% if flash[:notice] %>
            <div class="flash">
              <%= flash[:notice] %>
            </div>
          <% end %>
          <%= yield %>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <p class="copyright">©2019 WRL</p>
    </footer>
  </body>
</html>
